node_modules/
dist/
build/
.next/
coverage/
*.tsbuildinfo

.env
.env.local
.env.*.local
!.env.example

storage/
uploads/
pgdata/
*.log
npm-debug.log*

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

apps/api/prisma/migrations/dev.db*
